{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row top_panel">
        <form action="." method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Забрать новые данные">
            <span class="top_panel__task_count">Заданий в базе - {{task_count}}</span>
        </form>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>Дата</th>
                <th>URL</th>
                <th>Статус</th>
                <th>Код ответа</th>
                <th>Заголовк</th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>{{object.create_date}}</td>
                    <td>{{object.task.url}}</td>
                    <td>{{object.get_status_display}}</td>
                    <td>{{object.http_code}}</td>
                    <td>{{object.title}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}