<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parser</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <style>
        body {
            padding-top: 20px;
        }

        .top_panel {
            margin-bottom: 20px;
        }

        .top_panel__task_count {
            margin-left: 10px;
            color: red;
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>